
.questionsPage .container{
    padding: 0;

    height: 100vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
}

.questionsPage .container > * {
    height: 100%;
    padding: var(--md);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--xl);
}

.questionsPage .container > *:nth-of-type(2) {
    background: var(--register-bg-url) no-repeat center / cover;

    border-right: var(--main-border-width) solid rgba(var(--black-main-color), .1);

    display: flex;
    place-items: center;
}

.questionsPage .container > *:nth-of-type(1) > * {
    width: var(--form-width);
    margin: 0 auto;
}

.additionLinks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--md);
}